body {
    padding: 0px;
    background-color: rgb(53, 53, 53);
}

.box-principal {
    margin-top: 35px;
    width: 900px;
    height: 600px;
    background-color: white;
    border-radius: 25px;
}

.input-group mb-3 {
    margin-left: 100px;
    margin-right: 100px;
}