body {
    margin: 0;
}

* {
    margin: 0;
}

.navbar {
    background-color: rgb(56, 56, 56);
    line-height: 100px;
    color: white;
}

.botoes-nav {
    float: right;
    margin-right: 30px;
}

p {
    color: black;
}

.botoes-nav.btn {
    background-color: aliceblue;
}

.btn:hover {
    background-color: black;
    color: white;
}