* {
    margin: 0px;
}

body {
    margin: 0px;
}

.cont{
    width: 300px;
    height: 500px;
    padding: 40px;
    margin: 20px;
    border-radius: 35px;
    background-color: whitesmoke;
    float: right;

}

.container:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}