.box {
    width: 700px;
    /* Define a largura da caixa */
    height: 700px;
    /* Define a altura da caixa */
    padding: 30px;
    /* define a distancia da parte de cima da caixa entre a imagem imagem */
    margin: 20px;
    /* define a distancia entre as caixas*/
    background-color: rgb(61, 57, 57);
    /* Altera a cor das caixas */
    border-radius: 30px;
    /* Altera a borda das caixas */
    color: white;
    margin-top: 100px;
}

p {
    color: white;
}